{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create Product
{% endblock %}


{% block content %}
<div class="px-4">
    <h1 class="mb-5 font-bold text-2xl">Create a Product</h1>
    <form method="post" class="space-y-4">
        {% csrf_token %}

        <div>
            <label for="{{ form.product_name.id_for_label }}" class="block text-sm font-medium">
                Product name
            </label>
            {{ form.product_name }}
            {% if form.product_name.errors %}
                <p class="text-sm text-red-500">{{ form.product_name.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.product_type.id_for_label }}" class="block text-sm font-medium">
                Product type
            </label>
            {{ form.product_type }}
            {% if form.product_type.errors %}
                <p class="text-sm text-red-500">{{ form.product_type.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.manufacturer.id_for_label }}" class="block text-sm font-medium">
                Manufacturer
            </label>
            {{ form.manufacturer}}
            {% if form.manufacturer.errors %}
                <p class="text-sm text-red-500">{{ form.manufacturer.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.stock_quantity.id_for_label }}" class="block text-sm font-medium">
                Stock Quantity
            </label>
            {{ form.stock_quantity}}
            {% if form.stock_quantity.errors %}
                <p class="text-sm text-red-500">{{ form.stock_quantity.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.cost_per_item.id_for_label }}" class="block text-sm font-medium">
                Cost Per Item
            </label>
            {{ form.cost_per_item}}
            {% if form.cost_per_item.errors %}
                <p class="text-sm text-red-500">{{ form.cost_per_item.errors.0 }}</p>
            {% endif %}
        </div>


        <button class="bg-blue-500 text-white px-5 py-2 w-full font-semibold rounded-sm hover:bg-blue-600">
            Submit
        </button>

    </form>
</div>
{% endblock %}