{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create Product
{% endblock %}


{% block content %}
<div class="px-4">
    <h1 class="mb-5 font-bold text-2xl">Create a Shipment</h1>
    <form method="post" class="space-y-4">
        {% csrf_token %}

        <div>
            <label for="{{ form.item.id_for_label }}" class="block text-sm font-medium">
                Item
            </label>
            {{ form.item }}
            {% if form.item.errors %}
                <p class="text-sm text-red-500">{{ form.item.errors.0 }}</p>
            {% endif %}
        </div>

        <div>
            <label for="{{ form.shipment_status.id_for_label }}" class="block text-sm font-medium">
                Shipment Status
            </label>
            {{ form.shipment_status}}
            {% if form.shipment_status.errors %}
                <p class="text-sm text-red-500">{{ form.shipment_status.errors.0 }}</p>
            {% endif %}
        </div>


        <button class="bg-blue-500 text-white px-5 py-2 w-full font-semibold rounded-sm hover:bg-blue-600">
            Submit
        </button>

    </form>
</div>
{% endblock %}